@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
}
body {
    width: 100vw;
    min-height: 100vh;
    background: #E5E5E5;
}
button {
    width: 161px;
    height: 53px;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 12px 32px;
    border: none;
    font-size: 20px;
    color: #fff;
    margin-top: 24px;
    cursor: pointer;
}
.nav__mobile button {
    margin-top: 0;
}
.container {
    width: 1125px;
    height: auto;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #fff;
}
.head__content {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 100%;
    display: flex;
}
.main__logo {
    font-weight: 900;
    font-size: 48px;
    letter-spacing: -3px;
    display: flex;
    align-items: center;
    color: #85171A;
}
.main__logo span:nth-child(2){
    color: #e30000;
}
.main__logo span:nth-child(3){
    color: #f9cf00;
}
.desc__logo {
    margin-left: 2px;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
}
.nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__mobile {
    display: none;
}
.nav ul {
    display: flex;
}
.nav ul li {
    list-style: none;
    margin-left: 50px;
}
.nav ul li:nth-child(1) {
    margin-left: 0;
}
.nav ul li a {
    text-decoration: none;
    font-size: 1.13em;
    color: rgba(31, 46, 53, 0.8);
    position: relative;
}
.dropdown:after {
    content: '';
    width: 8px;
    height: 2px;
    background: rgba(31, 46, 53, 0.8);
    position: absolute;
    top: 40%;
    right: -30%;
    transform: rotate(45deg);
}
.dropdown:before {
    content: '';
    width: 8px;
    height: 2px;
    background: rgba(31, 46, 53, 0.8);
    position: absolute;
    top: 40%;
    right: -40%;
    transform: rotate(135deg);
}
.links {
    display: flex;
    align-items: center;
}
.links svg {
    margin-right: 24px;
    cursor: pointer;
}
.links svg:nth-child(3){
    margin-right: 0;
}

/* MAIN CONTENT */

main {
    margin-top: 2px;
}
.welcome__block {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
}
.main__content {
    width: 100%;
    min-height: calc(100vh - 102px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-weight: 700;
    font-size: 3em;
}
h1 span {
    color: #ee4248;
}

.main__content p {
    margin-top: 24px;
    font-size: 1.25em;
    font-weight: 400;
}

.about__block {
    display: flex;
    justify-content: center;
    height: 500px;
}
.about__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about__title {
    width: 45%;
}
.about__title h2 {
    font-weight: 500;
    font-size: 2em;
    color: #1F2E35;
}
.about__title h2 span {
    color: #ee4248;
}
.about__title p {
    font-size: 1.1em;
    font-weight: 500;
    color: #30444E;
    margin-top: 24px;
}

.product__block {
    display: flex;
    justify-content: center;
    padding-top: 57px;
    background: #fff;
    text-align: center;
}
.product__block h2 {
    font-weight: 500;
    font-size: 2em;
}
.product__content {
    margin-top: 47px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}
.card {
    width: 30%;
}
.card h3 {
    margin-top: 16px;
    font-weight: 500;
    font-size: 1.8em;
    color: #EE4248;
}
.card p {
    margin-top: 15px;
    font-size: 1.2em;
    color: #30444E;
}

/* FOOTER */

.footer__block {
    display: flex;
    justify-content: center;
    padding: 138px 0 24px 0;
    background: #fff;
}
.footer__content {
    display: flex;
}
.footer__content .logo {
    height: auto;
}
.adress h4 {
    margin-top: 10px;
}
.adress p {
    margin-top: 8px;
}
.contacts {
    margin-left: 47px;
}
.contacts h4 {
    margin-top: 35px;
}
.contacts p {
    margin-top: 11px;
}
.copyright {
    display: flex;
    justify-content: center;
    background: #EE4248;
    color: #fff;
}
.copyright__content {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1125px) {
    .container {
        width: 970px;
    }
    .nav ul li a {
        font-size: .8em;
    }
    .main__title h1 {
        font-size: 3em;
    }
    .main__title p {
        font-size: 1.2em;
    }
    .links svg {
        width: 15px;
        height: 15px;
        margin-right: 12px;
    }
    .links svg:nth-child(3){
        margin-right: 0;
    }
    .main__img svg {
        width: 400px;
    }
    .about__block {
        height: auto;
    }
    .about__title h2 {
        font-size: 1.3em;
    }
    .about__title p {
        font-size: .9em;
    }
    .about__img svg {
        width: 300px;
    }
    .product__block h2 {
        font-size: 1.8em;
    }
    .card h3 {
        font-size: 1.2em;
    }
    .card p {
        font-size: .8em;
    }
}
@media (max-width:992px) {
    button {
        width: 120px;
        height: 40px;
        padding: 12px 32px;
        font-size: .7em;
    }
    .container {
        width: 750px;
    }
    .nav ul li a {
        font-size: .8em;
    }
    .main__title h1 {
        font-size: 1.8em;
    }
    .main__title p {
        font-size: .8em;
    }
    .links svg {
        width: 15px;
        height: 15px;
        margin-right: 12px;
    }
    .links svg:nth-child(3){
        margin-right: 0;
    }
    .main__img svg {
        width: 400px;
    }
    .about__block {
        height: auto;
    }
    .about__title h2 {
        font-size: 1.3em;
    }
    .about__title p {
        font-size: .9em;
    }
    .about__img svg {
        width: 300px;
    }
    .product__block h2 {
        font-size: 1.8em;
    }
    .card h3 {
        font-size: 1.2em;
    }
    .card p {
        font-size: .8em;
    }
    .adress h4 {
        font-size: 1em;
    }
    .adress p {
        font-size: .8em;
    }
    .contacts {
        margin-top: 4px;
    }
    .contacts h4 {
        font-size: 1em;
    }
    .contacts p {
        font-size: .8em;
    }
    .copyright__content {
        font-size: .8em;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav {
        display: none;
    }
    .nav__mobile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .links {
        display: none;
    }
    .main__title h1 {
        font-size: 1.8em;
    }
    .main__title p {
        font-size: .8em;
    }
    .links svg {
        width: 15px;
        height: 15px;
        margin-right: 12px;
    }
    .links svg:nth-child(3){
        margin-right: 0;
    }
    .main__img svg {
        width: 200px;
    }
    .about__block {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about__title h2 {
        font-size: 1.3em;
    }
    .about__title p {
        font-size: .9em;
    }
    .about__img {
        display: none;
    }
    .about__title {
        width: 100%;
    }
    .product__block h2 {
        font-size: 1.8em;
    }
    .product__content {
        flex-direction: column;
        justify-content: center;
    }
    .card {
        text-align: center;
        width: 100%;
        height: 350px;
        flex: 1 0 auto;
    }
    .card__icon svg {
        width: 70px;
    }
    .card h3 {
        font-size: 1.4em;
    }
    .card p {
        font-size: .9em;
    }
    .footer__block {
        padding-top: 20px;
    }
    .adress h4 {
        font-size: 1em;
    }
    .adress p {
        font-size: .8em;
    }
    .contacts {
        margin-top: 4px;
    }
    .contacts h4 {
        font-size: 1em;
    }
    .contacts p {
        font-size: .8em;
    }
    .copyright__content {
        font-size: .8em;
    }
}